$primary: rgb(239, 45, 45);
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;1,600&display=swap");

* {
  font-size: 10px;
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0;
  color: rgb(111, 109, 109);
  @media (max-width: 1200px) {
    font-size: 8px;
  }
  @media (max-width: 900px) {
    font-size: 6px;
  }
}
.header-container {
  max-width: 1400px;
  display: grid;
  box-sizing: border-box;
  margin: auto;
  padding: 0 20px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:
    "h h"
    "con img";
  @media (max-width: 900px) {
    grid-template-columns: 1fr;
    grid-template-areas:
      "h "
      "con "
      "img";
    padding: 0;
  }
}

.header {
  background-color: rgb(239, 236, 228);

  &__content {
    @media (max-width: 900px) {
      padding: 20px;
      text-align: center;
    }
  }

  h1 {
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    font-size: 6rem;
    line-height: 70px;
    color: black;
    @media (max-width: 1200px) {
      line-height: 60px;
    }
    @media (max-width: 900px) {
      font-size: 4rem;
      line-height: 40px;
    }
  }
  img {
    grid-area: img;
    width: 100%;
    padding: 20px 0 30px;
    box-sizing: border-box;
  }
  &__navbar {
    background-color: rgb(56, 56, 59);
  }
}
.navbar {
  grid-area: h;
  height: 80px;
  line-height: 80px;
  vertical-align: middle;
  text-align: center;
  margin: 20px 0;
  @media (max-width: 900px) {
    margin-top: 0;
    height: 50px;
    line-height: 50px;
  }
  &__link {
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    font-size: 1.8rem;
    padding: 0 15px;
    @media (max-width: 900px) {
      padding: 0 10px;
    }
  }
  &_color {
    color: rgb(111, 109, 109);
  }
  .active {
    display: inline-block;
    background-color: $primary;
    height: 80px;
    line-height: 80px;
    @media (max-width: 900px) {
      height: 50px;
      line-height: 50px;
    }
  }
}
.btn {
  display: inline-block;
  box-sizing: border-box;
  height: 40px;
  line-height: 40px;
  color: #fff;
  font-size: 1.5rem;
  font-weight: 700;
  padding: 0 40px;
  border-radius: 5px;
  background-color: $primary;
  text-decoration: none;
  margin: 30px 0;
  border: 1px solid $primary;
  &_bgc {
    background-color: transparent;
    color: $primary;
  }
  @media (max-width: 900px) {
    margin: 15px 0;
  }
}
.sect {
  max-width: 1400px;
  margin: 0 auto;
  display: grid;
  padding: 70px 20px;
  box-sizing: border-box;

  @media (max-width: 900px) {
    padding: 20px;
  }
}
.sect-services {
  grid-template: repeat(2, 1fr) / repeat(4, 1fr);
  grid-template-areas:
    "con con ds1 ds2 "
    "con con ds3 ds4 ";
  gap: 20px;
  border-bottom: 1px solid rgb(225, 221, 221);

  @media (max-width: 900px) {
    grid-template: repeat(2, 1fr) / repeat(2, 1fr);
    grid-template-areas:
      "con con"
      "ds1 ds2 "
      "ds3 ds4 ";
    text-align: center;
  }
  @media (max-width: 580px) {
    grid-template: 1fr repeat(4, 0.5fr) / repeat(2, 1fr);
    grid-template-areas:
      "con con"
      "ds1 ds1 "
      "ds2 ds2 "
      "ds3 ds3"
      "ds4 ds4 ";
  }
  &__content {
    grid-area: con;
    padding-right: 40px;
    @media (max-width: 900px) {
      padding-right: 0;
    }
  }
  .ds1 {
    grid-area: ds1;
  }
  .ds2 {
    grid-area: ds2;
  }
  .ds3 {
    grid-area: ds3;
  }
  .ds4 {
    grid-area: ds4;
  }
}
.icon {
  width: 30px;
  height: 30px;
  fill: $primary;
  padding-bottom: 10px;
}
.title {
  font-size: 4rem;
  text-transform: uppercase;
  margin-bottom: 10px;
  @media (max-width: 900px) {
    font-size: 3.5rem;
  }
}
.text {
  font-size: 2.2rem;
  padding: 10px 0;
  &_color {
    color: #fff;
  }
}
.subtitle {
  font-size: 2.5rem;
  font-weight: 500;
}
.sect-product {
  text-align: center;
  grid-template: repeat(3, 1fr) / repeat(4, 1fr);
  grid-template-areas:
    "con con con con"
    "img1 img2 img3 img4"
    "img5 img6 img7 img8";
  gap: 15px;
  @media (max-width: 1200px) {
    grid-template: 300px repeat(4, 1fr) / repeat(2, 1fr);
    grid-template-areas:
      "con con"
      "img1 img2 "
      "img3 img4"
      "img5 img6 "
      "img7 img8";
  }

  &__content {
    grid-area: con;
  }
  p {
    padding: 10px 400px;
    @media (max-width: 1200px) {
      padding: 10px 200px;
    }
    @media (max-width: 900px) {
      padding: 10px;
    }
  }
  &_active {
    color: $primary;
  }
  &__navbar {
    padding-top: 40px;
    @media (max-width: 900px) {
      display: flex;
      flex-direction: column;
      height: 20px;
      line-height: 20px;
      padding-top: 20px;
    }
  }
}
.border-bottom {
  width: 200px;
  border-bottom: 1.5px solid $primary;
  padding: 10px 0;
  margin: auto;
  @media (max-width: 900px) {
    width: 100px;
    padding: 5px 0;
  }
}
.img {
  width: 100%;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  position: relative;
  img {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
  }
  &_rect {
    padding-bottom: 100%;
  }
}
.sect-our-team {
  grid-template: 300px 1fr 230px / repeat(6, 1fr);
  grid-template-areas:
    "con con con . . ."
    "mi mi t t t ."
    "mi mi img1 img2 img3 img4";
  gap: 15px;
  @media (max-width: 1200px) {
    grid-template: repeat(2, 1fr) 230px / repeat(4, 1fr);
    grid-template-areas:
      "con con mi mi"
      "t t mi mi"
      "img1 img2 img3 img4";
  }
  @media (max-width: 900px) {
    grid-template: 200px 1fr 170px repeat(2, 0.2fr) / repeat(2, 1fr);
    grid-template-areas:
      "con con"
      "mi mi"
      "t t"
      "img1 img2 "
      "img3 img4";
    text-align: center;
  }
  &__content {
    grid-area: con;
  }
  &__main-img {
    grid-area: mi;
  }
  .mi {
    width: 90%;
    @media (max-width: 1200px) {
      width: 100%;
    }
  }
  &__sub {
    grid-area: t;
  }
  &__img1 {
    grid-area: img1;
  }
  &__img2 {
    grid-area: img2;
  }
  &__img3 {
    grid-area: img3;
  }
  &__img4 {
    grid-area: img4;
  }
  &__navbar {
    padding-top: 30px;
    text-align: start;
    @media (max-width: 900px) {
      text-align: center;
      padding-top: 0;
      height: 30px;
    }
  }
  &_social {
    color: rgb(111, 109, 109);
    font-style: italic;
    font-weight: 400;
  }
  h4 {
    font-size: 3rem;
    padding-bottom: 20px;
    text-transform: uppercase;
    @media (max-width: 900px) {
      padding-bottom: 10px;
    }
  }
  .border-bottom {
    margin: 0;
    @media (max-width: 900px) {
      margin: auto;
    }
  }
}
.sect-info {
  width: 100%;
  background-color: rgb(246, 235, 215);
  text-align: center;
  padding: 100px 20px;
  margin-top: 20px;
  box-sizing: border-box;
  @media (max-width: 900px) {
    padding: 50px 20px;
  }

  &__title {
    font-size: 4rem;
    color: #fff;
    letter-spacing: 0.15rem;
    @media (max-width: 580px) {
      font-size: 3.5rem;
    }
  }
  &__btn {
    height: 80px;
    margin: 0;
    @media (max-width: 900px) {
      height: 40px;
    }
    @media (max-width: 580px) {
      margin-top: 10px;
    }
  }
}
.form {
  margin-top: 50px;
  @media (max-width: 900px) {
    margin-top: 30px;
    @media (max-width: 580px) {
      display: flex;
      flex-direction: column;
    }
  }
  &__input {
    width: 40%;
    max-width: 500px;
    box-sizing: border-box;
    height: 80px;
    line-height: 80px;
    border: #fff;
    border-radius: 5px;
    padding-left: 20px;
    font-size: 1.5rem;
    margin-right: 20px;
    @media (max-width: 900px) {
      height: 40px;
      line-height: 40px;
    }
    @media (max-width: 580px) {
      width: 100%;
      max-width: 100%;
    }
  }
}
.sect-contacts {
  &__content {
    max-width: 1400px;
    margin: 0 auto;
    padding: 50px 20px;
    @media (max-width: 900px) {
      max-width: 100%;
      text-align: center;
      padding: 20px;
    }
    .border-bottom {
      padding: 0;
      margin: 50px 0;
      @media (max-width: 900px) {
        margin: 20px auto;
      }
    }
    p {
      max-width: 60%;
      @media (max-width: 900px) {
        max-width: 100%;
      }
    }
  }
  .gradient {
    background: linear-gradient(to right, white 70%, rgba(33, 37, 41) 70%);
    .info {
      max-width: 1400px;
      box-sizing: border-box;
      background: linear-gradient(to right, white 68%, rgba(33, 37, 41) 68%);
      padding: 0;
      margin: auto;
      @media (max-width: 900px) {
        background: none;
      }
    }
    @media (max-width: 900px) {
      background: none;
    }
  }
  &__inform {
    margin: 0;
    display: grid;
    grid-template: 80px 1fr 80px / repeat(3, 1fr);
    grid-template-areas:
      "f1 f2 ."
      "a a cnt"
      "b b .";
    gap: 20px;
    @media (max-width: 1400px) {
      padding: 0 20px;
    }
    @media (max-width: 900px) {
      grid-template: 50px 170px 50px / repeat(2, 1fr);
      grid-template-areas:
        "f1 f2 "
        "a a "
        "b b ";
      gap: 10px;
    }
  }
  &__input {
    background-color: rgb(187, 193, 193);
    border-radius: 10px;
    height: 60px;
    width: 95%;
    padding-right: 20px;

    @media (max-width: 900px) {
      height: 40px;
    }
  }
  .f1 {
    grid-area: f1;
  }
  .f2 {
    grid-area: f2;
  }
  &__textarea {
    height: 300px;
    background-color: rgb(187, 193, 193);
    border-radius: 10px;
    grid-area: a;
    width: 98%;
    box-sizing: border-box;
    @media (max-width: 900px) {
      height: 170px;
    }
  }
  &__cnt {
    grid-area: cnt;
  }
  &__btn {
    grid-area: b;
    height: 60px;
    margin-right: 10px;
    margin-top: 20px;
    @media (max-width: 900px) {
      height: 40px;
    }
  }
  label {
    font-size: 1.5rem;
    padding: 20px;
  }
}
.cnt {
  padding-left: 80px;
  @media (max-width: 900px) {
    background-color: rgba(33, 37, 41);
  }

  &__link {
    text-decoration: none;
    display: block;
    color: #fff;
    font-size: 2rem;
    padding: 20px 0;
  }
  &__title {
    text-transform: uppercase;
    color: #fff;
    font-size: 2.2rem;
    padding-bottom: 20px;
  }
}
.hidden {
  @media (max-width: 900px) {
    display: none;
  }
}
.tablet {
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
  grid-area: t;
  &__link {
    padding: 5px 0;
    height: 30px;
  }
  @media (min-width: 900px) {
    display: none;
  }
  &__title {
    height: 30px;
    margin: 0;
  }
}
.footer {
  margin-top: 30px;
  padding: 0 20px;
  background-color: rgba(33, 37, 41);

  &__container {
    display: grid;
    vertical-align: middle;
    line-height: 80px;
    grid-template: 1fr 80px / repeat(2, 1fr);
    grid-template-areas:
      "t t "
      "f n ";
  }
  &__text {
    grid-area: f;
    font-size: 1.5rem;
    @media (max-width: 580px) {
      font-size: 1rem;
    }
  }
  &__navbar {
    grid-area: n;
    text-align: end;
    line-height: 80px;
    vertical-align: middle;
    display: inline-block;
  }
  &__link {
    text-decoration: none;
  }
  &__icon {
    width: 25px;
    height: 25px;
    padding: 0 5px;
    fill: #fff;
    @media (max-width: 580px) {
      width: 15px;
      height: 15px;
    }
  }
}
